b #bookstore {
  color: #0290ff;
  font-size: 30px;
  font-weight: 700;
  padding-left: 60px;
}

.primary-color {
  color: #0290ff;
}

.fa {
  width: 2.9rem;
  height: 1.8rem;
  color: #0290ff;
}

.oval-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  width: 50%;
  font-size: 44px;
}

.first {
  margin-left: 10px;
}

.btn:not(:first-of-type) {
  border-left: 1px solid #e8e8e8;
}

.chapter {
  color: #969696;
}
